
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  color: #1e1f21;
}

footer {
  text-align: center;
  padding: 0 0 20px 0;
  font-size: 12px;
}

/* HEADER */

header {
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

header img {
  opacity: 0.3;
  position: absolute;
  width: 100%;
  top: 0;
}

header h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 140px;
  font-size: 64px;
  font-weight: 300;
}


/* MAIN TEXT CONTENT */

main {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

main .text {
  width: 70%;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 40px;
}

main .text li {
  margin-bottom: 15px;
}

main .text p {
  margin-bottom: 30px;
}

main .text a {
  vertical-align: super;
  font-size: 12px;
}

/* IMAGE BITS */

.subheading {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}

h5 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
}

h5.half {
  display: flex;
  flex-wrap: wrap;
}

h5.half span {
  width: 50%;
  display: inline-block;
}

.img-group {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-group.no-padding {
  padding: 10px 0;
}

.img-group img {
  width: 47%;
}

iframe {
  width: 48%;
  height: 400px;
  margin-bottom: 10px;
}


/* FOOTNOTES */

.footnotes {
  margin-top: 1px solid #eaeaea;
  padding: 60px 0 20px 0;
  font-size: 14px;
}

.footnotes li {
  font-style: italic;
  margin-bottom: 10px;
}


/* RESPONSIVENESS */

@media screen and (max-width: 1000px) {
  header {
    height: 200px;
  }

  header h1 {
    top: 60px;
    font-size: 42px;
  }

  main .text {
    width: 100%;
  }

  iframe {
    height: 300px;
  }
}

@media screen and (max-width: 850px) {
  .img-group {
    justify-content: center;
  }

  .img-group img, .img-group iframe {
    width: 70%;
  }
}

@media screen and (max-width: 620px) {
  header {
    height: 100px;
  }

  header h1 {
    top: 10px;
    font-size: 32px;
  }

  .img-group img, .img-group iframe {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  header h1 {
    top: 10px;
    font-size: 24px;
  }

  .img-group iframe {
    height: 250px;
  }
}






